.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  margin: 30px;
  margin-right: 100px;
}

strong {
  margin-left: 30px;
}

.input-group {
  margin-left: 30px;
}

#searchBox {
  margin-left: 20px;
}

#navbarNav {
  margin-left: 30px;
}

.card-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin-right: 5px;
}

.card-indicator.active {
  background-color: #333;
}

h2,
h3 {
  font-size: 72px;
  background: linear-gradient(to right, #0EB2C1, #30365B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-wrapper {
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.table {
  width: 100%;
  margin-bottom: 0;
}

.table thead th {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  color: #30365B;
}

.table tbody td {
  border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
  color: #30365B;
}

.table tbody tr:nth-child(odd) {
  background-color: #0EB2C1;
  color: #30365B;
}

.table tbody tr:hover {
  background-color: #e6f7ff;
}

.background, html {
  background-color: #F6F6F6;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container{
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  height: 70vh; 
  overflow-y: auto;
  overflow-x: hidden;
}

.circle {
  width: 100px;
  height: 100px;
  position: relative;
}

.circle1 {
  border: 5px solid #ffb6c1;
  top: 50px;
  left: 50px;
  border-radius: 50%;
}

.circle2 {
  border: 5px solid #add8e6;
  top: 200px;
  left: 200px;
  border-radius: 50%;
}

.circle3 {
  border: 5px solid #90ee90;
  top: 150px;
  left: 350px;
  border-radius: 50%;
}

.circle4 {
  border: 5px solid #d3d3d3;
  top: 300px;
  left: 100px;
  border-radius: 50%;
}